# PART B - With data Normalization

In [1]:
import pandas as pd
import numpy as np
import keras
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [2]:
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [10]:
# number of predictors
n_cols = predictors.shape[1]

In [11]:
# create model
model = Sequential()
model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
model.add(Dense(1))

# compile model
model.compile(optimizer='adam', loss='mean_squared_error')

In [12]:
#Create an numpy array to store the mean squared error for each of the 50 runs
iter_error=np.zeros(50)
#Iterate 50 times
for i in range(50):
    #make a new train/test split for each run
    X_train, X_test, y_train, y_test = train_test_split( predictors, target, test_size=0.3, random_state=None)
    # fits the model on the train split
    model.fit(X_train, y_train, validation_split=0.3, epochs=50, verbose=0)
    #Use the model created and generate the predicted outputs of the test split
    y_pred = model.predict(X_test)
    #Calculate the mean squared distance between the predicted value and the real value for the test split
    iter_error[i]=metrics.mean_squared_error(y_test, y_pred)
    print("Iteration " + str(i) + " had a mean squared error of " + str(iter_error[i]))

Iteration 0 had a mean squared error of 208.51662959197625
Iteration 1 had a mean squared error of 139.03002194973055
Iteration 2 had a mean squared error of 113.72134418610857
Iteration 3 had a mean squared error of 78.49247298009082
Iteration 4 had a mean squared error of 62.72888456557666
Iteration 5 had a mean squared error of 74.43970527568673
Iteration 6 had a mean squared error of 62.803029926541754
Iteration 7 had a mean squared error of 60.52414563324033
Iteration 8 had a mean squared error of 52.824066194419444
Iteration 9 had a mean squared error of 54.29691851285832
Iteration 10 had a mean squared error of 48.99252706353127
Iteration 11 had a mean squared error of 58.8871267647745
Iteration 12 had a mean squared error of 51.09968337701384
Iteration 13 had a mean squared error of 49.97579537207879
Iteration 14 had a mean squared error of 52.076667781942554
Iteration 15 had a mean squared error of 45.90300448274001
Iteration 16 had a mean squared error of 44.194843579745275
Iteration 17 had a mean squared error of 53.046885421130064
Iteration 18 had a mean squared error of 57.626881004317575
Iteration 19 had a mean squared error of 60.059131477775175
Iteration 20 had a mean squared error of 49.55378478579323
Iteration 21 had a mean squared error of 54.3200941591009
Iteration 22 had a mean squared error of 52.10008413683893
Iteration 23 had a mean squared error of 52.886957557829156
Iteration 24 had a mean squared error of 52.214225037809946
Iteration 25 had a mean squared error of 55.08219638268617
Iteration 26 had a mean squared error of 43.22640487111329
Iteration 27 had a mean squared error of 58.58957532287119
Iteration 28 had a mean squared error of 50.8410848107947
Iteration 29 had a mean squared error of 58.46590273676104
Iteration 30 had a mean squared error of 46.9622936066544
Iteration 31 had a mean squared error of 50.53715377815476
Iteration 32 had a mean squared error of 47.85417698454572
Iteration 33 had a mean squared error of 46.678724781524785
Iteration 34 had a mean squared error of 47.96997349521693
Iteration 35 had a mean squared error of 45.518672917788955
Iteration 36 had a mean squared error of 48.25828245051244
Iteration 37 had a mean squared error of 53.262058340714766
Iteration 38 had a mean squared error of 46.33646872853625
Iteration 39 had a mean squared error of 48.68070535479845
Iteration 40 had a mean squared error of 49.7862908176101
Iteration 41 had a mean squared error of 48.61465456614989
Iteration 42 had a mean squared error of 56.48473446999513
Iteration 43 had a mean squared error of 49.996790772417185
Iteration 44 had a mean squared error of 47.65886422844252
Iteration 45 had a mean squared error of 77.7881999176502
Iteration 46 had a mean squared error of 46.993160487449764
Iteration 47 had a mean squared error of 53.377306051951365
Iteration 48 had a mean squared error of 52.373939817648306
Iteration 49 had a mean squared error of 49.17773696558315

In [13]:
#reports the final results requested    
print("For the 50 runs the mean of the mean squared errors is " + str(np.mean(iter_error)) + " and the standard deviation is " + str(np.std(iter_error)))

For the 50 runs the mean of the mean squared errors is 59.41660526952445 and the standard deviation is 26.847185033642447